*.pyc
.*.swp
nosetests.xml
*.idea
.vscode/*
tmp/runtime/*
*.gz
*.zip

# python virtualenv
.venv/
# ci directory
build/
workdir/
# direnv
.envrc
# pylint config
.pylintrc

# test workdir
test/Playbook/ASORucio/*
!test/Playbook/ASORucio/inventory
!test/Playbook/ASORucio/playbook.yml
!test/Playbook/ASORucio/README.md
