# THIS FILE IS DEPRECATED.
# PLEASE USE cicd/crabserver_pypi/wmcore_requirements.txt INSTEAD.
# https://github.com/dmwm/CRABServer/blob/master/cicd/crabserver_pypi/wmcore_requirements.txt
wmcver==2.3.3
