<div class = "panel panel-default">
    <div class = "row panel-heading">
        <div><h4 class = "special-header">{{serverData.selectedUser.username}}</h4></div>
    </div>
    <div class="panel-body">
        <span class = "special-header2" style="display: inline-block;">Latest tasks info</span>
        <div class="row">
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder = "Filter" ng-model="search">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="date" class="form-control" placeholder = "YYYY-MM-DD" ng-model="age">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click = "loadLatestTasks(age)">Set date</button>
                    </span>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped table-hover" style="table-layout: fixed; width: 100%;">
            <thead>
                <tr >
                    <td class = "wordwrap">Task name</td>
                    <td>Status</td>
                    <td>Tw_name</td>
                    <td class = "wordwrap">Spliti_args</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat = "task in serverData.latestData| filter: search">
                    <td class = "wordwrap"><a href = ""class = "special-heading-url" ng-click = "followTaskLink(task.taskname)">{{task.taskname}}</a></td><td>{{task.status}}</td><td>{{task.tw_name}}</td><td class = "wordwrap">{{task.spliti_args}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

