# https://github.com/dmwm/WMCore/blob/2.2.4rc6/requirements.txt
# update deps version when bump wmcore version

dbs3-client~=4.0.12
future~=0.18.2
htcondor==23.9.6
psutil~=5.9.1
pycurl~=7.45.1
pyOpenSSL~=18.0.0
retry~=0.9.2
rucio-clients~=1.29.10
PyJWT~=2.4.0

# crab deps
python-ldap==3.4.3
