# https://github.com/dmwm/WMCore/blob/2.4.2/requirements.txt
# update deps version when bump wmcore version

dbs3-client~=4.0.19
future~=1.0.0
htcondor~=24.3
psutil~=7.0.0
pycurl~=7.45.6
pyOpenSSL~=25.1.0
retry~=0.9.2
rucio-clients~=1.29.10
PyJWT~=2.9.0

# crab deps
python-ldap==3.4.3
