/*created on : Jun 29, 2014, 12:17:57 PM
    Author     : Obeng Eric (Professor)
    2014 Summer student from Ghana
    Kwame Nkrumah University of Science and Technology(KNUST)
*/

body {
    padding-top: 50px;
}

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
    border: 0;
}

.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 10px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}

#main-nav{
    margin-bottom: 0;
}

#main_cont{
    position: relative;
    width: 100%;
    padding: 0;    
}

#side-bar{
    float: left;
    width: 25%;
    padding: 20px;
    overflow-x: hidden;
    background-color: #008B8B;
    position:fixed !important;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
}

#toolbar{
    float: right;
    width: 6%;
    padding: 0 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #181712;
    position:fixed !important;
    position:absolute;
    top:50px;
    bottom:0;
    right:0;
    color: #f0f0f0;
}
.toolbar-btn{
    display:block;
    white-space: nowrap;
    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
    background-image: -webkit-linear-gradient(top, #eee, #ccc);
    background-image: -moz-linear-gradient(top, #eee, #ccc);
    background-image: -ms-linear-gradient(top, #eee, #ccc);
    background-image: -o-linear-gradient(top, #eee, #ccc);
    background-image: linear-gradient(top, #eee, #ccc);
    border: 1px solid #777;
    padding: 0 1.5em;
    margin: 10px 0;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: #333;
    width: 100%;
    height: 60px;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    }
 .toolbar-btn: hover{
         background-color: #eee;        
         background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
         background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
         background-image: -moz-linear-gradient(top, #fafafa, #ddd);
         background-image: -ms-linear-gradient(top, #fafafa, #ddd);
         background-image: -o-linear-gradient(top, #fafafa, #ddd);
         background-image: linear-gradient(top, #fafafa, #ddd);
     }
                                                                                                               
  .toolbar-btn: active{
        -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        position: relative;
        top: 1px;
     }
   .toolbar-btn: focus{
        outline: 0;
        background: #fafafa;
    }    
    
    .toolbar-btn: before{
        background: #ccc;
        background: rgba(0,0,0,.1);
        float: left;        
        width: 1em;
        text-align: center;
        font-size: 1.5em;
        margin: 0 1em 0 -1em;
        padding: 0 .2em;
        -moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
        -webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
        box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
        -moz-border-radius: .15em 0 0 .15em;
        -webkit-border-radius: .15em 0 0 .15em;
        border-radius: .15em 0 0 .15em;     
        pointer-events: none;       
    }

#details-sec{
    float: left;
    width: 75%;
    background-color: #f8f8f6;
    position:fixed !important;
    padding:0;
    margin: 0;
    position:absolute;
    top:50px;
    right:0;
    bottom:0;
}
#main-pane{
    width: 100%;
    background-color: #ffffff;
    position:absolute;
    padding:0;
    margin: 0;
    top:50px;
    left:0;
    right: 0;
    bottom:0;
}

#work-pane{
    float: left;
    width: 60%;
    overflow-x: scroll;
    overflow-y: scroll
    background-color: #eee;
    position:fixed !important;
    padding:0;
    margin: 0;
    top:50px;
    left:20%;
    right: 20%;
    bottom:0;
}
.truncate{
    width: 15%;
    overflow-x: clip;
}
.special-header{
   font-family: times, Times New Roman, times-roman, georgia, serif;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #008b8b;
    margin: 10px;
    padding: 0 0 0 0;
    display: inline;
    font-weight: 100; 
}

.special-header2{
   font-family: times, Times New Roman, times-roman, georgia, serif;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 0.5px;
    color: #008b8b;
    padding: 0 0 0 5px;
    display: inline;
    font-weight: 100; 
}

.special-header-url{
   font-family: times, Times New Roman, times-roman, georgia, serif;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 0.5px;
    color: #318CE7;
    padding: 0 0 0 5px;
    display: inline;
    font-weight: 100; 
}
.special-header3{
    font-family: "Times New Roman",georgia, serif;
    font-size: 18px;
    color: #008b8b;
    padding: 0 0 0 0;
    display: inline;
    font-weight: 100; 
}
table thead tr td{
   font-family: times, Times New Roman, times-roman, georgia, serif;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 1px;
    color: #008b8b;
    text-align: center;
    font-weight: 100; 
}

table tbody tr td{
    color: #000;
    text-align: center;
}
.back-btn{
    display: inline;
    float: right;
    margin: 10px;
}

#aside-left{
    float: left;
    width: 20%;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #008b8b;
    position:fixed !important;
    position:absolute;
    top:50px;
    bottom:0;
    left:0;
}

.quick-links{
    padding: 3px;
    margin: 3px;
    
}

#aside-right{
    float: right;
    width: 20%;
    padding: 15px;
    overflow-x: hidden;
    background-color: #008b8b;
    position:fixed !important;
    position:absolute;
    top:50px;
    bottom:0;
    right:0;
}

.aside-panels{

}

.hr{
    background-color: #b4b4b4;
    height: 2px;
}

#alert-div{
    background-color: #eee;
    padding:10px;
    margin: 0;
    width: 100%;
    border-bottom: 3px solid #181712;
    border-top: 5px solid #181712;
}
#input{
    float: left;
}

#subm{
    padding-top: 5px;
    font-family: Georgia,Rockwell, "Times New Roman", Times, serif;
    font-size: 30px;
    color: #101010;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}

.user-list{    
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;   
    padding:5px;
}

.user-list ul li a{
    padding-top: 2px;
    font-size: 18px;
    font: Tahoma, Helvetica, Arial, Sans-Serif;
    text-align: justify;
    color: #008b8b;
}

#workpane{
    width: 100%;
    position:absolute;
    overflow-y: scroll;
    top:110px;
    right:0;
    bottom:0;
}

.wordwrap {
   min-width: 30%;
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}
